<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIAexs3RGdOBeLX0AJPxOdrMStAUp4wAY</string>
	<key>GCM_SENDER_ID</key>
	<string>987591540341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wt.SheridanBnb</string>
	<key>PROJECT_ID</key>
	<string>sheridanbnb-d0b5f</string>
	<key>STORAGE_BUCKET</key>
	<string>sheridanbnb-d0b5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987591540341:ios:515bfb6d095ce6d1d6823c</string>
</dict>
</plist>